<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>{$site_name}</title>
<link rel="stylesheet" href="{$base_url}/themes/{$default_theme}/css/bootstrap.css" />
</head>
<body>
<h1>{$site_name}</h1>
